#nprogress {
  font-size: 0.25rem;
  @apply text-red-600;
}

#nprogress .bar {
  @apply bg-gradient-to-r from-green-600 via-yellow-600 to-current !important;
  height: 1em;
}

#nprogress .peg {
  @apply text-current;
  box-shadow: 0 0 4em currentcolor, 0 0 2em currentcolor;
}

#nprogress .spinner {
  top: 4em;
  right: max(2em, calc(50vw - (var(--contain-width) / 2) - 8em));
}

#nprogress .spinner-icon {
  @apply text-current;
  width: 5em;
  height: 5em;
  border-width: 1em;
  border-top-color: currentcolor;
  border-left-color: currentcolor;
}
